<!DOCTYPE html>
<html>
<head>
  <title>Security</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br/><br/>
<%= link_to 'Logout', logout_path(session[:user_id]) if session[:user_id]%>
</body>
</html>
